<!doctype html> {% load static %}
<html lang="en">

<head>
    <title>ChatEasy</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <div class="container">
        <div class="jumbotron header">
            <div>
                <label for="from">From</label>
                <input type="username" class="form-control" id="from_box" placeholder="John">
                <small id="usernameHelp" class="text-muted">This will appear to your reciever.</small>
            </div>
            <div>
                <label for="to">To</label>
                <input type="username" class="form-control" id="to_box" placeholder="Jennifer">
                <!-- <small id="usernameHelp" class="text-muted">This will appear with your messages.</small> -->
            </div>
            <div>
                <button class="btn btn-primary" id="load-button" style="margin: 10px">Load</button>
            </div>
        </div>

        <div class="jumbotron main-space">
            <div class="container" id="chat_window">
                {% for chat in chats %}
                <div class="message">
                    <span class="speaker">{{ chat.from }}</span>
                    <span class="text">{{ chat.message }}</span>
                </div>
                {% endfor %}

            </div>
            <div class="footer">
                <input class="form-control" id="message_box" placeholder="Type a message">
                <button class="btn btn-primary send-button" id="send-button" disabled>Send</button>
            </div>
        </div>
    </div>
    <script>
        console.log("Hey");

        bigHTML = document.querySelector("html")

        header = document.querySelector(".header");
        chats = document.querySelector("#chat_window");
        footer = document.querySelector(".footer");

        fromBox = document.querySelector("#from_box");
        toBox = document.querySelector("#to_box");
        loadButton = document.querySelector("#load-button");

        messagebox = document.querySelector("#message_box");
        sendButton = document.querySelector("#send-button");

        chats.style.height = (window.innerHeight - header.offsetHeight - footer.offsetHeight - 150) + "px";

        function load() {
            from = fromBox.value;
            if (from === "") {
                alert("Your username is required!");
                return;
            }
            to = toBox.value;
            if (to === "") {
                alert("Reciever username is required!");
                return;
            }

            postData = {
                from: from,
                to: to
            };

            $.ajax({
                type: "POST",
                url: window.location.href,
                data: postData,
                headers: {
                    'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
                },
                success: function(response) {
                    console.log(response);

                    bigHTML.innerHTML = response;
                }
            });
        }



        loadButton.addEventListener('click', load);
        fromBox.addEventListener('keydown', function(event) {
            if (event.key === "Enter") {
                load();
            }
        });
        toBox.addEventListener('keydown', function(event) {
            if (event.key === "Enter") {
                load();
            }
        });

        sendButton.addEventListener('click', send);
        messagebox.addEventListener('keydown', function(event) {
            if (event.key === "Enter") {
                send();
            }
        })


        document.addEventListener('DOMContentLoaded', function() {
            loadButton.disabled = false;
        });
    </script>
</body>

</html>